<div class="overheard">
  <div class="rectangle-2003"></div>
  <div class="group-197">
    <div class="rectangle-1992"></div>
    <div class="stay-connected-together">Stay Connected Together</div>
    <div
      class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures"
    >
      Captions are probably one of the best ways to express yourself on social
      media besides posting pictures.
    </div>
    <div class="rectangle-1996"></div>
    <div class="enter-your-email">Enter your email</div>
    <div class="rectangle-19962"></div>
    <svg
      class="arrow-2"
      width="16"
      viewBox="0 0 16 0"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16.5303 0.530329C16.8232 0.237436 16.8232 -0.237438 16.5303 -0.530331L11.7574 -5.3033C11.4645 -5.5962 10.9896 -5.59619 10.6967 -5.3033C10.4038 -5.01041 10.4038 -4.53553 10.6967 -4.24264L14.9393 -9.79529e-07L10.6967 4.24264C10.4038 4.53553 10.4038 5.01041 10.6967 5.3033C10.9896 5.59619 11.4645 5.59619 11.7574 5.3033L16.5303 0.530329ZM4.91753e-08 0.75L16 0.749999L16 -0.750001L-4.91753e-08 -0.75L4.91753e-08 0.75Z"
        fill="white"
      />
    </svg>

    <div class="_2023-powered-by-overheard">© 2023 Powered by Overheard</div>
  </div>
  <div class="overheard2"></div>
  <div class="group-191">
    <div class="rectangle-2001"></div>
    <div class="home">Home</div>
    <div class="features">Features</div>
    <div class="help">Help</div>
    <div class="line-9"></div>
    <div class="line-10"></div>
    <div class="line-11"></div>
  </div>
  <div class="group-239">
    <div class="never-miss-a-moment-with-your-friends">
      Never miss a moment with your friends.
    </div>
    <div
      class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures-with-captions-you-can-make-your-special-ones-feel-more-special-here-are-some-amazing-instagram-captions-for-friends-that-you-can-use-to-express-your-love-towards-them"
    >
      Captions are probably one of the best ways to express yourself on social
      media besides posting pictures. With captions, you can make your special
      ones feel more special. Here are some amazing Instagram captions for
      friends that you can use to express your love towards them.
    </div>
    <img class="_123-1" src="../../assets/img2.png" />
  </div>
  <div class="group-240">
    <div class="start-editing">Start Editing</div>
    <div
      class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures2"
    >
      Captions are probably one of the best ways to express yourself on social
      media besides posting pictures.
    </div>
    <img class="_123-2" src="../../assets/img1.png" />
  </div>
  <div class="join-today-500-other-customers-staying-updated-always">
    join today 500+ other customers staying updated always.
  </div>
  <div class="group-184">
    <div class="rectangle-1999"></div>
    <div class="overheard3">Overheard</div>
  </div>
</div>
