<div class="overheard">
  <div class="rectangle-2003"></div>
  <div class="group-197">
    <div class="rectangle-1992"></div>
    <div class="stay-connected-together">Stay Connected Together</div>
    <div
      class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures"
    >
      Captions are probably one of the best ways to express yourself on social
      media besides posting pictures.
    </div>
    
 
    
    

    <div class="_2023-powered-by-overheard">© 2023 Powered by Overheard</div>
  </div>
  
  <div class="group-239">

    <div class="never-miss-a-moment-with-your-friends">
      Never miss a moment with your friends.
    </div>
    <div
      class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures-with-captions-you-can-make-your-special-ones-feel-more-special-here-are-some-amazing-instagram-captions-for-friends-that-you-can-use-to-express-your-love-towards-them"
    >
      Captions are probably one of the best ways to express yourself on social
      media besides posting pictures. With captions, you can make your special
      ones feel more special. Here are some amazing Instagram captions for
      friends that you can use to express your love towards them.
    </div>
    <img class="_123-1" src="../../assets/img2.png" />
  </div>
  <div class="group-240">
    <div class="start-editing">Start Editing</div>
    <div
      class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures2"
    >
      Captions are probably one of the best ways to express yourself on social
      media besides posting pictures.
    </div>
    <img class="_123-2" src="../../assets/img1.png" />
  </div>
  <div class="join-today-500-other-customers-staying-updated-always">

    <div class="explore">
      <button>Get Started</button>
      <i class="fa fa-chevron-down"></i>
    </div>
    join today 500+ other customers staying updated always.
  </div>

  <button class="buttn"  (click)="onSubmit()">Get Started</button>
  <div class="group-184">
    <div class="img">
      <img src="../../assets/head.png" alt="">
    </div>
  </div>



</div>

