:root {
      /* Colors */
    
      /* Fonts */
    
      /* Effects */
      --shadow-01-box-shadow: 0px 4px 22px 0px rgba(90, 255, 13, 0.18);
    }

    .frame-3,
    .frame-3 * {
          box-sizing: border-box;
    }
    .frame-3 {
          background: #ffffff;
          width: 1920px;
          height: 3847px;
          position: relative;
          overflow: hidden;
    }
    .i-phone-13-mini-5-1 {
      background-color: rgba(255, 255, 255, 0);
          border-radius: 20px;
          width: 268px;
          height: 578px;
          position: absolute;
          left: 1050px;
          top: 269px;
          
          box-shadow: rgba(0, 0, 0, 0.1)px .1px 1px 0px rgba(14, 7, 7, 0.596);
    }
    .rectangle-2003 {
          background: linear-gradient(
        61.24deg,
        rgba(47, 239, 147, 1) 0%,
        rgba(34, 242, 255, 1) 100%
      );
          width: 1920px;
          height: 1004px;
          position: absolute;
          left: calc(50% - 960px);
          top: 1089px;
    }
    .line-1 {
          border-style: solid;
          border-color: #cecece;
          border-width: 1px 0 0 0;
          width: 1920px;
          height: 0px;
          position: absolute;
          left: 0px;
          top: 97px;
    }
    .voice-message-privately {
          color: #000000;
          text-align: left;
          font: 500 64px "Roboto", sans-serif;
          position: absolute;
          left: 315px;
          top: 365px;
          width: 528px;
    }
    .a-voice-messaging-app-can-be-a-game-changer-for-your-business-no-longer-are-team-members-relegated-to-typing-lengthy-emails-or-playing-phone-tag-to-get-quick-answers-now-it-s-all-about-using-the-power-of-voice-to-keep-teams-connected-inside-and-outside-the-office {
          color: #777777;
          text-align: left;
          font: 400 20px/150% "Roboto", sans-serif;
          position: absolute;
          left: 315px;
          top: 555px;
          width: 630px;
    }

    .rectangle-1995 {
      background: #4b00ff;
      border-radius: 8px;
      border-style: solid;
      border-color: transparent;
      border-width: 1px;
      width: 190px;
      height: 67px;
      position: absolute;
      left: 755px;
      top: 715px;
    }
    .get-notified {
      color: #ffffff;
      text-align: left;
      font: 400 20px "Roboto", sans-serif;
      position: absolute;
      left: 797px;
      top: 737px;
    }
    
    .group-238 {
          position: absolute;
          inset: 0;
    }
    .group-189 {
          width: 715px;
          height: 340px;
          position: static;
    }
    .captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures-with-captions-you-can-make-your-special-ones-feel-more-special-here-are-some-amazing-instagram-captions-for-friends-that-you-can-use-to-express-your-love-towards-them {
          color: #000000;
          text-align: left;
          font: 400 20px/150% "Roboto", sans-serif;
          position: absolute;
          left: 815px;
          top: 1558px;
          width: 630px;
    }
    .never-miss-a-moment-with-your-friends {
          color: #000000;
          text-align: left;
          font: 500 64px "Roboto", sans-serif;
          position: absolute;
          left: 815px;
          top: 1368px;
          width: 715px;
    }
    .group-200 {
          width: 190px;
          height: 67px;
          position: static;
    }
    .rectangle-2004 {
          background: #4b00ff;
          border-radius: 8px;
          border-style: solid;
          border-color: transparent;
          border-width: 1px;
          width: 190px;
          height: 67px;
          position: absolute;
          left: 815px;
          top: 1748px;
    }
    .get-notified2 {
          color: #ffffff;
          text-align: left;
          font: 400 20px "Roboto", sans-serif;
          position: absolute;
          left: 857px;
          top: 1770px;
    }
    .group-237 {
          position: absolute;
          inset: 0;
    }
    
    .email-address input {
      border-radius: 8px;
      border-style: solid;
      border-color: #b7b7b7;
      border-width: 1px;
      width: 428px;
      height: 67px;
      position: absolute;
      left: 315px;
      top: 715px;
      z-index: 1;
      text-align: left;
      padding-left: 20px;
      font-size: 15pt;
    }
    .group-198 {
          position: absolute;
          inset: 0;
    }
    .rectangle-1992 {
          background: #000000;
          width: 1979px;
          height: 598px;
          position: absolute;
          left: -29px;
          top: 3249px;
    }
    .stay-connected-together {
          color: #ffffff;
          text-align: center;
          font: 500 64px/150% "Roboto", sans-serif;
          position: absolute;
          left: calc(50% - 360px);
          top: 3342px;
    }
    .captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures {
          color: #f0f0f0;
          text-align: center;
          font: 400 20px/150% "Roboto", sans-serif;
          position: absolute;
          left: calc(50% - 315px);
          top: 3458px;
          width: 630px;
    }
    

    
    .enter-your-email {
          color: #8a8282;
          text-align: center;
          font: 400 20px/150% "Roboto", sans-serif;
          position: absolute;
          left: 630px;
          top: 3612px;
          z-index: 1;
          
      
          
    }
    .enter-your-email input {
      color: #8a8282;
      text-align: center;
      border-radius: 78px;
      font: 400 20px/150% "Roboto", sans-serif;
      width: 660px;
      height: 78px;
      z-index: 1;
      text-align: left;
      padding-left: 20px;
      font-size: 15pt;
      padding-left: 40px;
      
}

.btn{
      cursor: pointer;
      position: absolute;
      margin-left: -4.5rem;
      margin-top: 0.3rem;
      background-color: #8f00ff;
      background: url("../../assets/g2.png");
     height: 4.4rem;
     width: 4.2rem;
     border: none;
}
    .join-today-500000-other-customers-staying-updated-always {
          color: #ffffff;
          text-align: center;
          font: 400 20px/150% "Roboto", sans-serif;
          position: absolute;
          left: calc(50% - 270px);
          top: 3723px;
    }
    .arrow-2 {
          position: absolute;
          left: 1240px;
          top: 3651px;
          transform: translate(0px, -5.52px);
          overflow: visible;
    }
    ._2023-powered-by-overheard {
          color: #ffffff;
          text-align: left;
          font: 400 12px/150% "Roboto", sans-serif;
          position: absolute;
          left: calc(50% - 81px);
          top: 3796px;
    }
    .group-236 {
          position: absolute;
          inset: 0;
    }
    .group-201 {
          width: 190px;
          height: 67px;
          position: static;
    }
    .rectangle-20042 {
          background: #4b00ff;
          border-radius: 8px;
          border-style: solid;
          border-color: transparent;
          border-width: 1px;
          width: 190px;
          height: 67px;
          position: absolute;
          left: 315px;
          top: 2781px;
    }
    .get-notified3 {
          color: #ffffff;
          text-align: left;
          font: 400 20px "Roboto", sans-serif;
          position: absolute;
          left: 357px;
          top: 2803px;
    }
    .group-190 {
          width: 630px;
          height: 265px;
          position: static;
    }
    .start-editing {
          color: #000000;
          text-align: left;
          font: 500 64px "Roboto", sans-serif;
          position: absolute;
          left: calc(50% - 645px);
          top: 2476px;
    }
    .captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures-with-captions-you-can-make-your-special-ones-feel-more-special-here-are-some-amazing-instagram-captions-for-friends-that-you-can-use-to-express-your-love-towards-them2 {
          color: #777777;
          text-align: left;
          font: 400 20px/150% "Roboto", sans-serif;
          position: absolute;
          left: calc(50% - 645px);
          top: 2591px;
          width: 630px;
    }
    .message-1 {
          border-radius: 20px;
          width: 268px;
          height: 579px;
          position: absolute;
          left: 1320px;
          top: 347px;
          box-shadow: rgba(0,1, 1, 1.1)px .1px 1px 0px rgba(14, 7, 7, 0.596);
    }
    .group-130 {
          position: absolute;
          inset: 0;
    }
    .group-129 {
          position: absolute;
          left: 1473px;
          top: 607px;
          overflow: visible;
    }
    .ellipse-24 {
          background: linear-gradient(to left, #d9d9d9, #d9d9d9);
          border-radius: 50%;
          width: 24.5px;
          height: 24.5px;
          position: absolute;
          left: 1490.04px;
          top: 612.33px;
    }
    .group {
      background: url("../../assets/b.png");
          width: 115.02px;
          height: 11px;
          position: static;
    }
    .group2 {
          position: absolute;
          left: 1520.93px;
          top: 622.53px;
          overflow: visible;
    }
    .group3 {
          position: absolute;
          left: 1602.59px;
          top: 621.15px;
          overflow: visible;
    }
    .group4 {
          position: absolute;
          left: 1587.58px;
          top: 621.15px;
          overflow: visible;
    }
    .group5 {
          position: absolute;
          left: 1554.88px;
          top: 620.67px;
          overflow: visible;
    }
    .ellipse-25 {
          background: #8f00ff;
          border-radius: 50%;
          width: 7.46px;
          height: 7.46px;
          position: absolute;
          left: 1519.86px;
          top: 621.91px;
    }
    ._0-03 {
          color: #959595;
          text-align: left;
          font: 400 4px "Roboto", sans-serif;
          position: absolute;
          left: 1520.93px;
          top: 634.69px;
          width: 8.52px;
          height: 5.33px;
    }
    ._01-10 {
          color: #959595;
          text-align: left;
          font: 400 4px "Roboto", sans-serif;
          position: absolute;
          left: 1623.17px;
          top: 633.63px;
          width: 10.65px;
          height: 5.33px;
    }
    .vector-4 {
          position: absolute;
          left: 1642.34px;
          top: 620.85px;
          overflow: visible;
    }
    .icon-microphone-2 {
          width: 4.51px;
          height: 5.77px;
          position: static;
    }
    .group6 {
          position: absolute;
          left: 1508.14px;
          top: 630.43px;
          overflow: visible;
    }
    ._123-1 {
          border-radius: 20px;
          width: 362px;
          height: 784px;
          position: absolute;
          left: 348px;
          top: 1199px;
          box-shadow: rgba(0,1, 1, 1.1)px .1px 1px 0px rgba(14, 7, 7, 0.596);
    }
    .group-202 {
          position: absolute;
          inset: 0;
    }
    .rectangle-2005 {
          background: #ffffff;
          width: 1920px;
          height: 97px;
          position: absolute;
          left: 1px;
          top: 0px;
          box-shadow: 3px 4px 34px 0px rgba(0, 0, 0, 0.1);
    }
    .group-126 {
          width: 184px;
          height: 57px;
          position: static;
    }
    .overheard {
          color: #000000;
          text-align: left;
          font: 500 36px "MuseoModerno", sans-serif;
          position: absolute;
          left: 868px;
          top: 20px;
    }
    ._123-2 {
          border-radius: 30px;
          width: 371px;
          height: 802.63px;
          position: absolute;
          left: 1146px;
          top: 2223px;
          box-shadow: rgba(0,1, 1, 1.1)px .1px 1px 0px rgba(14, 7, 7, 0.596);
    }
    .rectangle-2000 {
      background: #1b1b1b;
      border-radius: 10px;
      width: 313px;
      height: 364px;
      position: absolute;
      left: 1441px;
      top: 2442px;
      box-shadow: -7px -5px 6px 0px rgba(7, 1, 1, 0.18), -0px -0.1px 1px 1px rgba(187, 183, 183, 0.76),
      
    }
    .add-filter {
          color: #ffffff;
          text-align: left;
          font: 400 20px "Montserrat", sans-serif;
          position: absolute;
          left: calc(50% - -588px);
          top: 2478px;
    }
    .group-187 {
          width: 238px;
          height: 17px;
          position: static;
    }
    .water {
          color: #a8a8a8;
          text-align: left;
          font: 400 14px "Montserrat", sans-serif;
          position: absolute;
          left: 1481px;
          top: 2755px;
    }
    .horror {
          color: #a8a8a8;
          text-align: left;
          font: 400 14px "Montserrat", sans-serif;
          position: absolute;
          left: 1578px;
          top: 2755px;
    }
    .moon {
          color: #a8a8a8;
          text-align: left;
          font: 400 14px "Montserrat", sans-serif;
          position: absolute;
          left: 1678px;
          top: 2755px;
    }
    .group-230 {
      
          width: 72px;
          height: 72px;
          position: static;
          
    }
    .ellipse-21 {
          border-radius: 50%;
          width: 72px;
          height: 72px;
          position: absolute;
          left: 1565px;
          top: 2663px;
    }
    .group-2372 {
          width: 72px;
          height: 109px;
          position: static;
    }
    .rain {
          color: #a8a8a8;
          text-align: left;
          font: 400 14px "Montserrat", sans-serif;
          position: absolute;
          left: 1487px;
          top: 2620px;
    }
    .ellipse-20 {
          border-radius: 50%;
          width: 72px;
          height: 72px;
          position: absolute;
          left: 1467px;
          top: 2528px;
    }
    .ellipse-212 {
          border-radius: 50%;
          width: 72px;
          height: 72px;
          position: absolute;
          left: 1467px;
          top: 2663px;
    }
    .group-2362 {
          width: 72px;
          height: 109px;
          position: static;
    }
    .day-light {
          color: #a8a8a8;
          text-align: left;
          font: 400 14px "Montserrat", sans-serif;
          position: absolute;
          left: 1567px;
          top: 2620px;
    }
    .ellipse-22 {
          border-radius: 50%;
          width: 72px;
          height: 72px;
          position: absolute;
          left: 1565px;
          top: 2528px;
    }
    .group-235 {
          width: 72px;
          height: 109px;
          position: static;
    }
    .dance {
          color: #a8a8a8;
          text-align: left;
          font: 400 14px "Montserrat", sans-serif;
          position: absolute;
          left: 1676px;
          top: 2620px;
    }
    .ellipse-23 {
          border-radius: 50%;
          width: 72px;
          height: 72px;
          position: absolute;
          left: 1663px;
          top: 2528px;
    }
    .ellipse-242 {
          border-radius: 50%;
          width: 72px;
          height: 72px;
          position: absolute;
          left: 1663px;
          top: 2663px;
    }
    
   
    .mobile-content {
      display: none; /* Hide mobile content by default */
  }
  
  /* Add responsive styles here */
  @media (max-width: 768px) {
      body {
            overflow-x: hidden;
            overflow-y: hidden;
          }
      
      .frame-3 {
          display: none; 
      }
  
      .mobile-content {
            
          display: block; 
          background: #000203;
            min-height: 100vh;
      }

      #mobile-gif {
            max-width:100%; 
            max-height: 100%;
            height: 100%;
            
          }
      
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 102%;
            animation: mymove 5s;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            overflow: hidden;
        }
          
          @keyframes mymove {
            0%   {opacity: 0;}
             25%  {opacity: 25;}
            50%  {opacity: 50;}
             100% {opacity: 100;;}
          }

          .overlay h2 {
            font-size: 35pt;
            text-align: left;
            margin-left: -1px;
            font-family: 'Roboto', sans-serif;
          }
          
          .overlay input[type="email"] {
            width: 50%;
            padding: 10px;
            margin: 10px 0;
            width: 334.5px;
            align-items: center;
            background-color: transparent;
            border-top: #c93dce;
            border-right: transparent;
            text-align: left;
            color: #b7b7b7;
            font-size: 20pt;
           
          }
          
          .overlay button {
            margin-top: 48.01px;
            padding: 10px 20px;
            background-color: #edf0f3;
            border: none;
            color: rgb(37, 16, 226);
            border-radius: 50px;
            cursor: pointer;
            height: 59px;
            width: 231px;
            font-size: 20pt;
          }
          
          .overlay button:hover {
            background-color: #99a6b4;
          }
          
          .b1{
            background-color: white;
            color: #00050a;
          }
          .explore{
            height: 157px;
            width: 48px;
            align-items: center;
            position: fixed;
            top: 80%;
            left: 27%;

          }
          .explore button{
            
            align-items: center;
            height: 58px;
            width: 187px;
            background: #4B00FF;
            color: white;
            font-size: 20pt;
            border-radius: 10px;
            text-align: left;
            padding-left: 30px;
          }


          .explore button img{
            padding-left: 1rem;
            height: 17.75px;
            width: 18.05px;
          }
          .img{ 
           position: absolute;
           align-items: center;
           top: -4%;
           left: -9%;
      
           
      
      }

      .img img{
            height: 11rem;
            width: 33rem;
            animation: mymove 5s ;
      }
          
  }


  @media (max-width: 500px) {
      body {
            overflow-x: hidden;
            overflow-y: hidden;
          }
      
      .frame-3 {
          display: none; 
      }
  
      .mobile-content {
            
          display: block; 
          background: #000203;
            
      }

      #mobile-gif {
            max-width:100%; 
            max-height: 100rem;
            height: 42rem;
            width:25rem;
            
          }
      
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: mymove 5s;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            overflow: hidden;
        }
          
          @keyframes mymove {
            0%   {opacity: 0;}
             25%  {opacity: 25;}
            50%  {opacity: 50;}
             100% {opacity: 100;;}
          }

          .overlay h2 {
            font-size: 35pt;
            text-align: left;
            margin-left: -1px;
            font-family: 'Roboto', sans-serif;
          }
          
          .overlay input[type="email"] {
            width: 50%;
            padding: 10px;
            margin: 10px 0;
            width: 334.5px;
            align-items: center;
            background-color: transparent;
            border-top: #c93dce;
            border-right: transparent;
            text-align: left;
            color: #b7b7b7;
            font-size: 20pt;
           
          }
          
          .overlay button {
            margin-top: 48.01px;
            padding: 10px 20px;
            background-color: #edf0f3;
            border: none;
            color: rgb(37, 16, 226);
            border-radius: 50px;
            cursor: pointer;
            height: 59px;
            width: 231px;
            font-size: 20pt;
          }
          
          .overlay button:hover {
            background-color: #99a6b4;
          }
          
          .b1{
            background-color: white;
            color: #00050a;
          }
          .explore{
            height: 157px;
            width: 48px;
            align-items: center;
            position: fixed;
            top: 80%;
            left: 27%;

          }
          .explore button{
            
            align-items: center;
            height: 58px;
            width: 187px;
            background: #4B00FF;
            color: white;
            font-size: 20pt;
            border-radius: 10px;
            text-align: left;
            padding-left: 30px;
          }


          .explore button img{
            padding-left: 1rem;
            height: 17.75px;
            width: 18.05px;
          }
          .img{ 
           position: absolute;
           align-items: center;
           top: -4%;
           left: -9%;
      
           
      
      }

      .img img{
            height: 11rem;
            width: 33rem;
            animation: mymove 5s ;
      }
          
  }