<div class="frame-3">
      <img class="i-phone-13-mini-5-1" src="../../assets/img1.png" />
      <div class="rectangle-2003"></div>
      
      <div class="voice-message-privately">Voice Message privately</div>
      <div
        class="a-voice-messaging-app-can-be-a-game-changer-for-your-business-no-longer-are-team-members-relegated-to-typing-lengthy-emails-or-playing-phone-tag-to-get-quick-answers-now-it-s-all-about-using-the-power-of-voice-to-keep-teams-connected-inside-and-outside-the-office"
      >
        A voice messaging app can be a game changer for your business. No longer are
        team members relegated to typing lengthy emails or playing phone tag to get
        quick answers. Now, it’s all about using the power of voice to keep teams
        connected, inside and outside the office.
      </div>
      <div class="rectangle-1995"></div>
      <div class="get-notified">Get Notified</div>
      <div class="group-238">
        <div class="group-189">
          <div
            class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures-with-captions-you-can-make-your-special-ones-feel-more-special-here-are-some-amazing-instagram-captions-for-friends-that-you-can-use-to-express-your-love-towards-them"
          >
            Captions are probably one of the best ways to express yourself on social
            media besides posting pictures. With captions, you can make your special
            ones feel more special. Here are some amazing Instagram captions for
            friends that you can use to express your love towards them.
          </div>
          <div class="never-miss-a-moment-with-your-friends">
            Never miss a moment with your friends.
          </div>
        </div>
        <div class="group-200">
          <div class="rectangle-2004"></div>
          <div class="get-notified2">Get Notified</div>
        </div>
      </div>
      <div class="group-237">
        <div class="email-address">
            <input placeholder="Email address" type="email" id="email" pattern=".+@globex\.com" size="30" required />
        </div>
      </div>
      <div class="group-198">
        <div class="rectangle-1992"></div>
        <div class="stay-connected-together">Stay Connected Together</div>
        <div
          class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures"
        >
          Captions are probably one of the best ways to express yourself on social
          media besides posting pictures.
        </div>
        <div class="rectangle-1996"></div>
        <div class="rectangle-19962"></div>
        <div class="enter-your-email">
            
            <input placeholder="Enter your email" type="email" id="email" pattern=".+@globex\.com" size="30" required  />
            <button (click)="getmail()" class="btn"></button>
        </div>
        
        <div class="join-today-500000-other-customers-staying-updated-always">
          join today 500000+ other customers staying updated always.
        </div>
        
    
        <div class="_2023-powered-by-overheard">© 2023 Powered by Overheard</div>
      </div>
      <div class="group-236">
        <div class="group-201">
          <div class="rectangle-20042"></div>
          <div class="get-notified3">Get Notified</div>
        </div>
        <div class="group-190">
          <div class="start-editing">Start Editing</div>
          <div
            class="captions-are-probably-one-of-the-best-ways-to-express-yourself-on-social-media-besides-posting-pictures-with-captions-you-can-make-your-special-ones-feel-more-special-here-are-some-amazing-instagram-captions-for-friends-that-you-can-use-to-express-your-love-towards-them2"
          >
            Captions are probably one of the best ways to express yourself on social
            media besides posting pictures. With captions, you can make your special
            ones feel more special. Here are some amazing Instagram captions for
            friends that you can use to express your love towards them.
          </div>
        </div>
      </div>
      <img class="message-1" src="../../assets/img3.png" />
      <div class="group-130">
        <svg
          class="group-129"
          width="189"
          height="39"
          viewBox="0 0 189 39"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_d_327_1409)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.39062 0H0L6.39062 6.39062V31.341C6.39062 35.2069 9.52463 38.341 13.3906 38.341H181.51C185.376 38.341 188.51 35.2069 188.51 31.341V7C188.51 3.13401 185.376 0 181.51 0H7.9877H6.39062Z"
              fill="white"
            />
          </g>
          <defs>
            <filter
              id="filter0_d_327_1409"
              x="-4"
              y="-3"
              width="196.51"
              height="46.3409"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="1" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_327_1409"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_327_1409"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
    
        <img class="ellipse-24" src="../../assets/gol.png" />
        <div class="group">
          <svg
            class="group2"
            width="35"
            height="8"
            viewBox="0 0 35 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.57892 4.22215H0.925781V3.68823H1.57892V4.22215Z"
              fill="#858585"
            />
            <path
              d="M3.07111 4.42523H2.41797V3.61774H3.07111V4.42523Z"
              fill="#858585"
            />
            <path
              d="M4.56525 4.53113H3.91211V3.37946H4.56525V4.53113Z"
              fill="#858585"
            />
            <path
              d="M6.05744 4.68551H5.4043V3.26025H6.05744V4.68551Z"
              fill="#858585"
            />
            <path
              d="M7.50275 4.82658H6.84961V3.12775H7.50275V4.82658Z"
              fill="#858585"
            />
            <path
              d="M8.99665 4.91051H8.34351V2.99988H8.99665V4.91051Z"
              fill="#858585"
            />
            <path
              d="M10.4892 4.83989H9.83606V3.14105H10.4892V4.83989Z"
              fill="#858585"
            />
            <path
              d="M11.9813 5.28125H11.3281V2.60724H11.9813V5.28125Z"
              fill="#858585"
            />
            <path
              d="M13.4752 5.1841H12.822V2.77484H13.4752V5.1841Z"
              fill="#858585"
            />
            <path
              d="M14.9695 4.81789H14.3164V3.15436H14.9695V4.81789Z"
              fill="#858585"
            />
            <path
              d="M16.4617 6.82109H15.8086V1.14655H16.4617V6.82109Z"
              fill="#858585"
            />
            <path
              d="M17.9069 7.4301H17.2538V0.52887H17.9069V7.4301Z"
              fill="#858585"
            />
            <path
              d="M19.4012 6.60934H18.748V1.37164H19.4012V6.60934Z"
              fill="#858585"
            />
            <path
              d="M20.8935 6.75053H20.2404V1.07599H20.8935V6.75053Z"
              fill="#858585"
            />
            <path
              d="M22.3856 6.60934H21.7324V1.37164H22.3856V6.60934Z"
              fill="#858585"
            />
            <path
              d="M23.8797 5.51501H23.2266V2.4527H23.8797V5.51501Z"
              fill="#858585"
            />
            <path
              d="M25.3719 4.92379H24.7188V3.03522H25.3719V4.92379Z"
              fill="#858585"
            />
            <path
              d="M26.8641 4.62807H26.2109V3.47198H26.8641V4.62807Z"
              fill="#858585"
            />
            <path
              d="M28.358 4.43396H27.7048V3.62646H28.358V4.43396Z"
              fill="#858585"
            />
            <path
              d="M29.8055 4.50904H29.1523V3.50739H29.8055V4.50904Z"
              fill="#858585"
            />
            <path
              d="M31.2957 4.55295H30.6426V3.49835H31.2957V4.55295Z"
              fill="#858585"
            />
            <path
              d="M32.7899 4.50904H32.1367V3.50739H32.7899V4.50904Z"
              fill="#858585"
            />
            <path
              d="M34.284 4.32817H33.6309V3.79425H34.284V4.32817Z"
              fill="#858585"
            />
          </svg>
    
          <svg
            class="group3"
            width="34"
            height="10"
            viewBox="0 0 34 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.24469 5.17363H0.591553V4.44556H1.24469V5.17363Z"
              fill="#858585"
            />
            <path
              d="M2.73896 5.44711H2.08582V4.34839H2.73896V5.44711Z"
              fill="#858585"
            />
            <path
              d="M4.23114 5.59282H3.578V4.02637H4.23114V5.59282Z"
              fill="#858585"
            />
            <path
              d="M5.72321 5.80456H5.07007V3.86304H5.72321V5.80456Z"
              fill="#858585"
            />
            <path
              d="M7.16864 5.9987H6.5155V3.68652H7.16864V5.9987Z"
              fill="#858585"
            />
            <path
              d="M8.66278 6.11342H8.00964V3.51001H8.66278V6.11342Z"
              fill="#858585"
            />
            <path
              d="M10.155 6.0164H9.50183V3.70422H10.155V6.0164Z"
              fill="#858585"
            />
            <path
              d="M11.6472 6.61202H10.994V2.97607H11.6472V6.61202Z"
              fill="#858585"
            />
            <path
              d="M13.1415 6.48411H12.4884V3.20117H13.1415V6.48411Z"
              fill="#858585"
            />
            <path
              d="M14.6335 5.98115H13.9803V3.72192H14.6335V5.98115Z"
              fill="#858585"
            />
            <path
              d="M16.1257 8.71247H15.4725V0.986084H16.1257V8.71247Z"
              fill="#858585"
            />
            <path
              d="M17.5729 9.53762H16.9198V0.147705H17.5729V9.53762Z"
              fill="#858585"
            />
            <path
              d="M19.0671 8.42561H18.4139V1.29492H19.0671V8.42561Z"
              fill="#858585"
            />
            <path
              d="M20.5593 8.61536H19.9061V0.888977H20.5593V8.61536Z"
              fill="#858585"
            />
            <path
              d="M22.0515 8.42561H21.3983V1.29492H22.0515V8.42561Z"
              fill="#858585"
            />
            <path
              d="M23.5436 6.93868H22.8905V2.7644H23.5436V6.93868Z"
              fill="#858585"
            />
            <path
              d="M25.0358 6.1267H24.3827V3.55859H25.0358V6.1267Z"
              fill="#858585"
            />
            <path d="M26.53 5.72517H25.8768V4.1543H26.53V5.72517Z" fill="#858585" />
            <path
              d="M28.0241 5.46494H27.371V4.36621H28.0241V5.46494Z"
              fill="#858585"
            />
            <path
              d="M29.4694 5.56195H28.8163V4.20288H29.4694V5.56195Z"
              fill="#858585"
            />
            <path
              d="M30.9616 5.62795H30.3085V4.18945H30.9616V5.62795Z"
              fill="#858585"
            />
            <path
              d="M32.4558 5.56195H31.8026V4.20288H32.4558V5.56195Z"
              fill="#858585"
            />
            <path
              d="M33.9499 5.31914H33.2968V4.59106H33.9499V5.31914Z"
              fill="#858585"
            />
          </svg>
    
          <svg
            class="group4"
            width="15"
            height="10"
            viewBox="0 0 15 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.23175 8.7124H0.578613V0.986023H1.23175V8.7124Z"
              fill="#858585"
            />
            <path
              d="M2.67878 9.53762H2.02563V0.147705H2.67878V9.53762Z"
              fill="#858585"
            />
            <path
              d="M4.17096 8.42567H3.51782V1.29498H4.17096V8.42567Z"
              fill="#858585"
            />
            <path
              d="M5.66315 8.6153H5.01001V0.888916H5.66315V8.6153Z"
              fill="#858585"
            />
            <path
              d="M7.15729 8.42561H6.50415V1.29492H7.15729V8.42561Z"
              fill="#858585"
            />
            <path
              d="M8.65143 6.93868H7.99829V2.7644H8.65143V6.93868Z"
              fill="#858585"
            />
            <path
              d="M10.1417 6.1267H9.48853V3.55859H10.1417V6.1267Z"
              fill="#858585"
            />
            <path
              d="M11.6361 8.42567H10.9829V1.29498H11.6361V8.42567Z"
              fill="#858585"
            />
            <path
              d="M13.1299 6.93868H12.4768V2.7644H13.1299V6.93868Z"
              fill="#858585"
            />
            <path
              d="M14.6221 6.1267H13.969V3.55859H14.6221V6.1267Z"
              fill="#858585"
            />
          </svg>
    
          <svg
            class="group5"
            width="35"
            height="12"
            viewBox="0 0 35 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M33.5785 5.6485H34.2316V6.47806H33.5785V5.6485Z"
              fill="#858585"
            />
            <path
              d="M32.0859 5.33521H32.7391V6.58837H32.0859V5.33521Z"
              fill="#858585"
            />
            <path
              d="M30.5939 5.16748H31.247V6.95456H30.5939V5.16748Z"
              fill="#858585"
            />
            <path
              d="M29.0997 4.9292H29.7529V7.13989H29.0997V4.9292Z"
              fill="#858585"
            />
            <path
              d="M27.6525 4.70874H28.3056V7.34303H27.6525V4.70874Z"
              fill="#858585"
            />
            <path
              d="M26.1603 4.57617H26.8134V7.54582H26.1603V4.57617Z"
              fill="#858585"
            />
            <path
              d="M24.6682 4.68658H25.3214V7.32529H24.6682V4.68658Z"
              fill="#858585"
            />
            <path
              d="M23.1758 4.00702H23.8289V8.15482H23.1758V4.00702Z"
              fill="#858585"
            />
            <path
              d="M21.6818 4.15259H22.3349V7.89443H21.6818V4.15259Z"
              fill="#858585"
            />
            <path
              d="M20.1897 4.72632H20.8428V7.30766H20.1897V4.72632Z"
              fill="#858585"
            />
            <path
              d="M18.8225 2.98663H19.4295V9.06487H18.8225V2.98663Z"
              fill="#858585"
            />
            <path
              d="M17.3048 2.69727H17.9118V9.35438H17.3048V2.69727Z"
              fill="#858585"
            />
            <path
              d="M15.7579 1.94189H16.4111V10.0698H15.7579V1.94189Z"
              fill="#858585"
            />
            <path
              d="M14.2716 0.671143H14.8786V11.6699H14.2716V0.671143Z"
              fill="#858585"
            />
            <path
              d="M12.7715 1.94196H13.4246V10.0699H12.7715V1.94196Z"
              fill="#858585"
            />
            <path
              d="M11.2794 3.63647H11.9326V8.39321H11.2794V3.63647Z"
              fill="#858585"
            />
            <path
              d="M9.7854 4.55859H10.4385V7.48853H9.7854V4.55859Z"
              fill="#858585"
            />
            <path
              d="M8.29297 5.02191H8.94611V6.809H8.29297V5.02191Z"
              fill="#858585"
            />
            <path
              d="M6.8009 5.31323H7.45404V6.5664H6.8009V5.31323Z"
              fill="#858585"
            />
            <path
              d="M5.35559 5.20288H6.00873V6.75169H5.35559V5.20288Z"
              fill="#858585"
            />
            <path
              d="M3.86121 5.1322H4.51435V6.76926H3.86121V5.1322Z"
              fill="#858585"
            />
            <path
              d="M2.36731 5.20288H3.02045V6.75169H2.36731V5.20288Z"
              fill="#858585"
            />
            <path
              d="M0.875244 5.48083H1.52838V6.3104H0.875244V5.48083Z"
              fill="#858585"
            />
          </svg>
        </div>
        <div class="ellipse-25"></div>
        <div class="_0-03">0:03</div>
        <div class="_01-10">01:10</div>
        <svg
          class="vector-4"
          width="9"
          height="12"
          viewBox="0 0 9 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.86005 6.17059L0.339844 0.845459V11.4957L8.86005 6.17059Z"
            fill="black"
          />
        </svg>
    
        <div class="icon-microphone-2">
          <svg
            class="group6"
            width="5"
            height="7"
            viewBox="0 0 5 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.39855 6.20088C2.28852 6.20088 2.19727 6.10963 2.19727 5.9996V5.19445C2.19727 5.08441 2.28852 4.99316 2.39855 4.99316C2.50859 4.99316 2.59984 5.08441 2.59984 5.19445V5.9996C2.59984 6.10963 2.50859 6.20088 2.39855 6.20088Z"
              fill="#8F00FF"
            />
            <path
              d="M1.41016 1.3157V3.46485L2.04226 4.22337H2.9272L3.43289 3.33843V1.69496L3.05363 0.936435L2.2951 0.683594L1.41016 1.3157Z"
              fill="#8F00FF"
            />
            <path
              d="M2.39894 5.39571C1.15633 5.39571 0.144531 4.38391 0.144531 3.1413V2.68505C0.144531 2.57501 0.235781 2.48376 0.345818 2.48376C0.455854 2.48376 0.547104 2.57501 0.547104 2.68505V3.1413C0.547104 4.16115 1.37909 4.99314 2.39894 4.99314C3.41879 4.99314 4.25077 4.16115 4.25077 3.1413V2.68505C4.25077 2.57501 4.34202 2.48376 4.45206 2.48376C4.5621 2.48376 4.65335 2.57501 4.65335 2.68505V3.1413C4.65335 4.38391 3.64155 5.39571 2.39894 5.39571Z"
              fill="#8F00FF"
            />
            <path
              d="M2.39982 4.4564C1.69665 4.4564 1.125 3.88474 1.125 3.18158V1.70548C1.125 1.00232 1.69665 0.430664 2.39982 0.430664C3.10298 0.430664 3.67463 1.00232 3.67463 1.70548V3.18158C3.67463 3.88474 3.10298 4.4564 2.39982 4.4564ZM2.39982 0.833237C1.91941 0.833237 1.52757 1.22508 1.52757 1.70548V3.18158C1.52757 3.66198 1.91941 4.05382 2.39982 4.05382C2.88022 4.05382 3.27206 3.66198 3.27206 3.18158V1.70548C3.27206 1.22508 2.88022 0.833237 2.39982 0.833237Z"
              fill="#8F00FF"
            />
          </svg>
        </div>
      </div>
      <img class="_123-1" src="../../assets/img4.png" />
      <div class="group-202">
        <div class="rectangle-2005"></div>
        <div class="group-126">
          <div class="overheard">Overheard</div>
        </div>
      </div>
      <img class="_123-2" src="../../assets/img5.png" />
      <div class="group-238">
        <div class="rectangle-2000"></div>
        <div class="add-filter">Add Filter</div>
        <div class="group-187">
          <div class="water">Water</div>
          <div class="horror">Horror</div>
          <div class="moon">Moon</div>
        </div>
        <div class="group-230">
          <img class="ellipse-21" src="../../assets/i1.png" />
        </div>
        <div class="group-2372">
          <div class="rain">Rain</div>
          <img class="ellipse-20" src="../../assets/i2.png" />
        </div>
        <img class="ellipse-212" src="../../assets/i3.png" />
        <div class="group-2362">
          <div class="day-light">Day Light</div>
          <img class="ellipse-22" src="../../assets/i1.png" />
        </div>
        <div class="group-235">
          <div class="dance">Dance</div>
          <img class="ellipse-23" src="../../assets/i2.png" />
        </div>
        <img class="ellipse-242" src="../../assets/i3.png" />
      </div>

    </div>
    

    <div class="mobile-content">
      <img src="" alt="Your GIF" id="mobile-gif">
      <div class="overlay" *ngIf="showOverlay">
        <h2>Voice message <br>privately</h2>
        <input type="email" [(ngModel)]="email" placeholder="Enter your email">
        <button  (click)="onSubmit()">Get Started</button>

        
            <div class="explore">
              <button (click)="redir()" >Explore</button>
              <i class="fa fa-chevron-down"></i>
            </div>
         
      </div>
      
    </div>
    
    